<header>
  <div class="row title">
    <h2>{{ title }}</h2>
  </div>
  <div class="row calculator-types">
    <div class="list-group list-group-horizontal">
      <a href="#" class="list-group-item list-group-item-action active" (click)="handleTypeClicked($event)">Standard</a>
      <a href="#" class="list-group-item list-group-item-action" (click)="handleTypeClicked($event)">Scientific</a>
      <a href="#" class="list-group-item list-group-item-action" (click)="handleTypeClicked($event)">Programmer</a>
    </div>
  </div>
</header>
