<header>
  <div class="row title">
    <h2>{{ title }}</h2>
  </div>
  <div class="row calculator-types">
    <ul class="calculator-type-list">
      <li class="calculator-type-list-item">
        <button
          class="btn btn-primary btn-light btn-lg"
          (click)="handleTypeClicked($event)"
        >
          Standart
        </button>
      </li>
      <li class="calculator-type-list-item">
        <button
          class="btn btn-primary btn-light btn-lg"
          (click)="handleTypeClicked($event)"
        >
          Scientific
        </button>
      </li>
      <li class="calculator-type-list-item">
        <button
          class="btn btn-primary btn-light btn-lg"
          (click)="handleTypeClicked($event)"
        >
          Programmer
        </button>
      </li>
    </ul>
  </div>
</header>
