<ng-container>
  <div class="matrix-row">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box">
      <button class="btn-base-command btn-number">7</button>
    </div>
    <div class="box">
      <button class="btn-base-command btn-number">8</button>
    </div>
    <div class="box">
      <button class="btn-base-command btn-number">9</button>
    </div>
    <div class="box">
      <button class="btn-base-command btn-command">
        <img src="../assets/images/plus.png" alt="plus operator" />
      </button>
    </div>
    <div class="box">
      <button class="btn-base-command btn-command">
        <img
          src="../assets/images/power.png"
          class="turn-left"
          alt="pow operator"
        />
      </button>
    </div>
    <div class="box"></div>
    <div class="box"></div>
  </div>

  <div class="matrix-row">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box">
      <button class="btn-base-command btn-number">4</button>
    </div>
    <div class="box">
      <button class="btn-base-command btn-number">5</button>
    </div>
    <div class="box">
      <button class="btn-base-command btn-number">6</button>
    </div>
    <div class="box">
      <button class="btn-base-command btn-command">
        <img src="../assets/images/minus.png" alt="minus operator" />
      </button>
    </div>
    <div class="box">
      <button class="btn-base-command btn-command">
        <img src="../assets/images/root.png" alt="root operator" />
      </button>
    </div>
    <div class="box"></div>
    <div class="box"></div>
  </div>

  <div class="matrix-row">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box">
      <button class="btn-base-command btn-number">1</button>
    </div>
    <div class="box">
      <button class="btn-base-command btn-number">2</button>
    </div>
    <div class="box">
      <button class="btn-base-command btn-number">3</button>
    </div>
    <div class="box">
      <button class="btn-base-command btn-command">
        <img src="../assets/images/multiply.png" alt="multiply operator" />
      </button>
    </div>
    <div class="box">
      <button class="btn-base-command btn-command">
        <img src="../assets/images/modolo.png" alt="modolo operator" />
      </button>
    </div>
    <div class="box"></div>
    <div class="box"></div>
  </div>

  <div class="matrix-row">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box">
      <button class="btn-base-command btn-equal">
        <img src="../assets/images/equal.png" alt="equal operator" />
      </button>
    </div>
    <div class="box">
      <button class="btn-base-command btn-number">0</button>
    </div>
    <div class="box">
      <button class="btn-base-command btn-number">.</button>
    </div>
    <div class="box">
      <button class="btn-base-command btn-command">
        <img src="../assets/images/divide.png" alt="divide operator" />
      </button>
    </div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
  </div>
</ng-container>
