:host {
  flex: 0 0 auto;
  color: white;
  background-color: lightslategray;
  height: 60px;
  font-size: 1.6em;
  text-align: left;
  align-self: stretch;
  display: flex;
  flex-direction: row;

  & .header-title {
    flex: 5 0 auto;
  }

  button {
    flex: 1 0 0;
    order: 2;
    margin: 5px;
    border: none;
    font-size: 30px;
    line-height: 30px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;

    img {
      width: 30px;
    }
  }

}
