<div id="container">
  <div id="container-wrapper">
    <header>
      <div class="row title">
        <h2>Magnetic Calculation Component</h2>
      </div>
      <div class="row calculator-types">
        <ul class="calculator-type-list">
          <li class="calculator-type-list-item">
            <button class="btn btn-primary btn-light btn-lg">Standart</button>
          </li>
          <li class="calculator-type-list-item">
            <button class="btn btn-primary btn-light btn-lg">Scientific</button>
          </li>
          <li class="calculator-type-list-item">
            <button class="btn btn-primary btn-light btn-lg">Programmer</button>
          </li>
        </ul>
      </div>
    </header>
    <sn-calculator mode="calculatorMode"></sn-calculator>
    <sn-results></sn-results>
    <footer>
      <div>
        Icons made by
        <a href="https://www.flaticon.com/authors/freepik" title="Freepik"
          >Freepik</a
        >
        from
        <a href="https://www.flaticon.com/" title="Flaticon"
          >www.flaticon.com</a
        >
      </div>
    </footer>
  </div>
</div>
