<div class="display container-fluid">
  <div class="header">
    <sn-header
      (onCalculatorTypeSelected)="handleCalculatorModeChanged($event)"
    ></sn-header>
  </div>
  <div class="content">
    <div class="calculator">
      <sn-calculator mode="calculatorMode"></sn-calculator>
    </div>
    <div class="results">
      <sn-results></sn-results>
    </div>
  </div>
  <div class="footer">
    <footer>
      <div>
        Icons made by
        <a href="https://www.flaticon.com/authors/freepik" title="Freepik"
          >Freepik</a
        >
        from
        <a href="https://www.flaticon.com/" title="Flaticon"
          >www.flaticon.com</a
        >
      </div>
    </footer>
  </div>
</div>

<!--
 -->
