<div id="container">
  <div id="container-wrapper">
    <header>
      <div class="row title">
        <h2>Magnetic Calculation Component</h2>
      </div>
      <div class="row calculator-types">
        <ul class="calculator-type-list">
          <li class="calculator-type-list-item">
            <button class="btn btn-primary btn-light btn-lg">Standart</button>
          </li>
          <li class="calculator-type-list-item">
            <button class="btn btn-primary btn-light btn-lg">Scientific</button>
          </li>
          <li class="calculator-type-list-item">
            <button class="btn btn-primary btn-light btn-lg">Programmer</button>
          </li>
        </ul>
      </div>
    </header>
    <div class="commands">
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box span-5">
        <div class="display">
          <input
            class="input-text"
            type="text"
            placeholder="0"
            name="displayResult"
          />
        </div>
      </div>
      <!-- <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div> -->
      <div class="box"></div>
      <div class="box"></div>

      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box">
        <button class="btn-base-command btn-number">7</button>
      </div>
      <div class="box">
        <button class="btn-base-command btn-number">8</button>
      </div>
      <div class="box">
        <button class="btn-base-command btn-number">9</button>
      </div>
      <div class="box">
        <button class="btn-base-command btn-command">
          <img src="../assets/images/plus.png" alt="plus operator" />
        </button>
      </div>
      <div class="box">
        <button class="btn-base-command btn-command">
          <img
            src="../assets/images/power.png"
            class="turn-left"
            alt="pow operator"
          />
        </button>
      </div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>

      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box">
        <button class="btn-base-command btn-number">4</button>
      </div>
      <div class="box">
        <button class="btn-base-command btn-number">5</button>
      </div>
      <div class="box">
        <button class="btn-base-command btn-number">6</button>
      </div>
      <div class="box">
        <button class="btn-base-command btn-command">
          <img src="../assets/images/minus.png" alt="minus operator" />
        </button>
      </div>
      <div class="box">
        <button class="btn-base-command btn-command">
          <img src="../assets/images/root.png" alt="root operator" />
        </button>
      </div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>

      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box">
        <button class="btn-base-command btn-number">1</button>
      </div>
      <div class="box">
        <button class="btn-base-command btn-number">2</button>
      </div>
      <div class="box">
        <button class="btn-base-command btn-number">3</button>
      </div>
      <div class="box">
        <button class="btn-base-command btn-command">
          <img src="../assets/images/multiply.png" alt="multiply operator" />
        </button>
      </div>
      <div class="box">
          <button class="btn-base-command btn-command">
              <img src="../assets/images/modolo.png" alt="modolo operator" />
            </button>
      </div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>

      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box">
        <button class="btn-base-command btn-equal">
          <img src="../assets/images/equal.png" alt="equal operator" />
        </button>
      </div>
      <div class="box">
        <button class="btn-base-command btn-number">0</button>
      </div>
      <div class="box">
        <button class="btn-base-command btn-number">.</button>
      </div>
      <div class="box">
          <button class="btn-base-command btn-command">
              <img src="../assets/images/divide.png" alt="divide operator" />
            </button>
      </div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
    </div>
    <div class="results">
      <span class="results-header">
        Calculation Results
        <button>
          <img src="../assets/images/garbage.png" alt="clear results list" />
        </button>
      </span>
      <ul class="result-list">
        <li class="result-list-item">
          <span class="result-item-text">2 * 8 = 16</span>
        </li>
        <li class="result-list-item">
          <span class="result-item-text">2 * 102 = 204</span>
        </li>
        <li class="result-list-item">
          <span class="result-item-text">154 + 832 = 986</span>
        </li>
      </ul>
    </div>
    <footer>
      <div>
        Icons made by
        <a href="https://www.flaticon.com/authors/freepik" title="Freepik"
          >Freepik</a
        >
        from
        <a href="https://www.flaticon.com/" title="Flaticon"
          >www.flaticon.com</a
        >
      </div>
    </footer>
  </div>
</div>
