.display {
  display: flex;
  flex-direction: column;
  width: 100vw;

  .row {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
  }

  & .header {
    @extend .row;
    height: 10vh;
  }

  & .content {
    @extend .row;
    height: 80vh;
    border: 1px solid green;
    justify-content: flex-start;

    & .calculator {
      flex: 4 4 75%;
      margin: 2px;
      display: flex;
      flex-flow: column nowrap;
    }

    & .results {
      flex: 1 2 25%;
      border: 1px solid #773059;
      margin: 2px;
    }
  }

  & .footer {
    @extend .row;
    height: 8vh;
    justify-content: center;

    & footer {
      color: rgb(5, 117, 74);
    }
  }
}
