#container {
  padding: 20px;
  // border: 1px solid tomato;

  .row {
    flex: 1;
    display: flex;
    flex-direction: row wrap;
  }

  > #container-wrapper {
    flex: 1 0 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 95vh;

    > div {
      margin-top: 10px;
      margin-left: 0px;
      margin-right: 3px;
      padding: 5px;
      display: flex;
      // flex-flow: column nowrap;
      // justify-content: center;
      /*Styles for sample presentation*/
      border: 1px solid maroon;
      text-align: justify;
    }

    > footer {
      flex: 0 0 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
    }
  }
}
