#container {
  padding: 20px;
  // border: 1px solid tomato;

  .row {
    flex: 1;
    display: flex;
    flex-direction: row wrap;
  }

  > #container-wrapper {
    flex: 1 0 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 95vh;

    > header {
      flex: 0 0 100%;
      height: 10vh;
      text-align: center;
      background-color: cadetblue;
      display: flex;
      flex-direction: column;
    }

    > div {
      margin-top: 10px;
      margin-left: 0px;
      margin-right: 3px;
      padding: 5px;
      display: flex;
      // flex-flow: column nowrap;
      // justify-content: center;
      /*Styles for sample presentation*/
      border: 1px solid maroon;
      text-align: justify;
    }

    > footer {
      flex: 0 0 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
    }

    .title {
      h2 {
        font-size: 1.5em;
        color: gainsboro;
        margin-left: auto;
        margin-right: 30px;
      }
    }

    .calculator-types {
      margin: 0;
      justify-content: flex-start;

      .calculator-type-list {
        display: flex;

        .calculator-type-list-item {
          flex: 1 0 25%;
          color: black;
          font-size: 1.2em;
          list-style-type: none;
          align-self: center;
          align-content: space-around;
          width: 10vw;

          .btn {
            width: 90% !important;
          }
        }
      }
    }

    .commands {
      flex: 1 0 30%;
      height: 80vh;
      display: flex;
      flex-flow: row wrap;
      // justify-content: center;

      .span-5 {
        flex: 0 0 50%;
      }

      .box {
        width: 120px;
        height: 120px;
        // border: 1px solid grey;
        margin: 2px;

        .btn-base-command {
          width: 100px;
          height: 100px;
          float: left;
          padding: 0;
          margin: 5px;
          box-sizing: border-box;
          border: none;
          font-size: 40px;
          line-height: 40px;
          border-radius: 50%;
          font-weight: 700;
          color: #5e5858;
          cursor: pointer;
          outline: none;

          img {
            width: 40px;

            &.turn-left {
              transform: rotate(-90deg);
            }
          }
        }

        .display {
          height: 100px;
          padding: 40px 0;
          background: #ff0509;
          display: flex;
          align-items: flex-start;
          justify-content: flex-end;

          .input-text {
            width: 650px;
            height: 60px;
            padding: 0;
            box-sizing: border-box;
            outline: none;
            border: none;
            background: none;
            color: white;
            text-align: right;
            font-weight: 700;
            font-size: 60px;
            line-height: 60px;
            margin: 0 25px;

            &::placeholder {
              color: #ffffff;
            }
          }
        }

        .btn-number {
          background: #ecedef;
        }

        .btn-command {
          background-color: cadetblue;
          color: #ffffff;
        }

        .btn-equal {
          background-color: #ff0509;
          color: #ffffff;
        }
      }

      .row-commands {
        flex: 0;
        align-self: center;
      }
    }

    .results {
      flex: 0 0 25%;
      height: 80vh;
      margin-left: 0;
      display: flex;
      flex-direction: column;

      .results-header {
        flex: 0 0 auto;
        color: white;
        background-color: lightslategray;
        height: 60px;
        font-size: 1.6em;
        text-align: center;
        align-self: stretch;

        button {
          width: 45px;
          height: 45px;
          padding: 0;
          margin: 5px;
          margin-left: 100px;
          box-sizing: border-box;
          border: none;
          font-size: 30px;
          line-height: 30px;
          border-radius: 50%;
          font-weight: 700;
          cursor: pointer;
          outline: none;

          img {
            width: 30px;
          }
        }
      }

      .result-list {
        display: flex;
        flex-flow: column wrap;

        .result-list-item {
          flex: 1 0 auto;
          list-style-type: none;
          background-color: #ecedef;
          margin-bottom: 2px;
          margin-top: 2px;
          border: 1px solid cadetblue;

          .result-item-text {
            color: red;
            font-size: 1.3em;
          }
        }
      }
    }
  }
}
